/* Engagement Styles */
.kanak_engagement {

    /* Workpage Styles */
    .workpage-home-work {
        .fa-chevron-right {
            font-size: 12px;
        }
        background-color: $background-color_18;
        padding-top: 8px;
        padding-bottom: 8px;
        opacity: .5;
    }

    /* Custom Engagement Margin */
    .custom_enge_mar {
        margin-top: 64px;
    }

    /* Quick Contact Styles */
    .quick_cont {
        left: -321px;
        top: 94px !important;
    }

    .qcontact_la {
        width: 321px;
    }

    .qcontact_l {
        padding: 15px 6px !important;
    }

    /* Footer Styles */
    #footer {
        .contact_no_mail {
            border-right: none !important;
        }

        .mobile_view_no {
            padding-right: 0 !important;
        }
    }

    /* Siteseal Margin */
    #siteseal {
        margin-top: 26px;
    }

    /* Media Queries */
    @media (max-width: 768px) {
        .custom_enge_mar {
            margin-top: 64px;
            zoom: .7;
        }

        .engagement_model_kanak {
            .eng_1003 {
                .eng_img_002 {
                    height: 24px;
                    margin-left: 10px;
                    margin-top: 68px;
                }

                &:after {
                    height: 275px;
                    display: block;
                    width: 58%;
                    border: 1px solid;
                    border-style: dashed;
                    content: '';
                    position: absolute;
                    top: -44px;
                    border-radius: 45px;
                    z-index: 0;
                    margin-left: 81px;
                }
            }
        }
    }

    @media (max-width:640px) {
        .custom_enge_mar {
            margin-top: 64px;
            zoom: .7;
        }
    }

    @media (max-width:398px) {
        .custom_enge_mar {
            margin-top: 64px;
            zoom: .6;
        }

        .engagement_model_kanak {
            .eng_1003 {
                .eng_img_002 {
                    height: 24px;
                    margin-left: 10px;
                    margin-top: 68px;
                }

                &:after {
                    height: 275px;
                    display: block;
                    width: 58%;
                    border: 1px solid;
                    border-style: dashed;
                    content: '';
                    position: absolute;
                    top: -44px;
                    border-radius: 45px;
                    z-index: 0;
                    margin-left: 81px;
                }
            }
        }
    }

    /* Engagement Model Kanak Styles */
    .engagement_model_kanak {
        .eng_1001 {
            text-align: center;

            img {
                margin-left: auto;
                margin-right: auto;
                height: 170px;
                z-index: 1;
                transition: transform .5s;
            }

            h4 {
                font-size: 20px;
                color: #05416b;
                font-weight: 700;
            }
        }

        /* More Styles */
    }

    /* Privacy Section Banner Styles */
    .privacy_sec_banner {
        h1.title_cl {
            text-align: center;
            font-weight: 900;
            padding: 8% 0;

            span {
                margin-right: 12px;
                color: $color_3;
                text-align: center;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 900;
            }
        }

        .p1_cl_001 {
            overflow: hidden;
            text-align: center;
            color: #367a9dad;

        }
    }

    /* Title Class Styles */
    .title_cla {
        span {
            margin-right: 12px;
            color: $color_10;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 900;
        }

        p {
            color: $color_9;
            text-align: center;
        }
    }

    /* Privacy Sec 001 Styles */
    #privacy_sec_001 {
        background-position: 100% 27%;
    }

    /* Overlay Styles */
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #367a9dad;
    }

    /* Breadcrumb Custom Styles */
    .breadcrumb_custom {
        display: -webkit-box;

