/* Business ERP Solution Styles */
.busineess-bi-erp-sol {
    #main-erp-solution {
        position: relative;
        border-radius: 5px;
        background: url(/website_kanak/static/src/img/erp_solution/erp_solution.webp) no-repeat center center;
        background-size: 100%;

        &:before {
            content: "";
            top: 0;
            bottom: -1px;
            left: 0;
            right: -1px;
            position: absolute;
            -webkit-transform: scale(1);
            transform: scale(1);
            background-color: rgba(42, 77, 105, .8);
            z-index: 1;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: -1px;
            left: 0;
            right: -1px;
            z-index: 2;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 20pt 0;
            text-align: center;

            p {
                color: #fff;
                margin: 20pt 0;
            }
        }

        .main-erp-head {
            font-size: 48px;
            font-weight: 900;
            line-height: 100%;
            margin: 0 !important;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .btn-erp-appointment, .btn-erp-appointment:hover {
            border-radius: 5px;
        }
    }

    .main-erp-solution-banner {
        text-align: center;
        padding-top: 180px;
    }
}

/* Work Page Styles */
.workpage-home-work {
    background-color: #d3d3d3;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: .5;

    .fa-chevron-right {
        font-size: 10px;
        color: gray;
    }
}

.all-home-colour a {
    text-decoration: none;
    padding-left: 7px;
}

/* Middle Text Styles */
#middel-text-odoo-deve {
    &.bg-graycolor {
        .bs {
            box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.24);
        }
    }

    .border {
        border: 1px solid #a8a8a8;
        padding: 0 15px;
        background-color: #f7f7f7;
        display: inline-block;

        &.left {
            border-bottom-right-radius: 35px;
        }

        &.right {
            border-bottom-left-radius: 35px;
        }
    }

    .implementation-heading1 {
        font-size: 20px;
        font-family: aileron, Roboto, sans-serif;
        font-weight: 700;
        margin-bottom: 5px;
        text-transform: capitalize;
    }

    p {
        text-align: justify;
    }

    &.services {
        .for-spacing-all {
            .border {
                &.left {
                    border-bottom-right-radius: 0;
                }

                &.right {
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

    .for-deve-middletext1,
    .for-deve-middletext2 {
        font-size: 17px;
        line-height: 23px;
    }

    .for-deve-middletext1.text-right,
    .implementation-heading1.text-right {
        text-align: right;
    }

    .for-spacing-all {
        letter-spacing: 0 !important;
    }
}

/* General Styles */
.for-spacing-all {
    letter-spacing: 0 !important;
}

.for-spacing-all h1,
.for-spacing-all h3 {
    color: #003662;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #2a6496;
    text-decoration: none;
}

.deve-opensource {
    color: #14caf3;
}

.why-every-bs-a1 {
    color: #003362;
}

#main-ab-all-deve {
    font-family: Roboto, sans-serif !important;
}

.main-new-deve-paralx {
    padding-top: 10px;
    text-align: justify;
}

.main-new-odoo-deve-cn1,
.main-new-odoo-deve-cn2 {
    color: #fff !important;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0px;
    color: #7b7b7b;
    font-family: 'aileron', Roboto, sans-serif;
    text-align: center;
