.kanak_erpnext {
  --color-3: #your-color-3;
  --background-color-17: #your-background-color-17;
  --background-color-25: #your-background-color-25;
  --color-1: #your-color-1;
  --color-2: #your-color-2;
  --color-19: #your-color-19;
  --color-25: #your-color-25;

  main {
    a.btn {
      color: var(--color-3) !important;
    }

    a {
      color: #0d6efd !important;
    }
  }

  .text-justify {
    text-align: justify;
  }

  #main-odoo-next-banner {
    background: url(/website_kanak/static/src/img/erp-next/erpnext-bg.png);
    background-size: 100% 100%;
    position: relative;
    padding: 50pt 0;

    div div.row {
      display: flex;
      align-items: center;
    }

    .btn.free-trial {
      background: var(--color-3);
      color: var(--color-25);
      padding: 6px 12px;
      margin-right: 0;
    }

    .d-sm-none {
      display: block;
    }

    .overlay {
      position: absolute;
      opacity: .9;
      -webkit-transform: scale(1);
      transform: scale(1);
      background-color: var(--background-color-17);
    }
  }

  .erp_heading {
    font-weight: 900;
    color: var(--color-2);
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.1;
  }

  .erp_next {
    color: var(--color-25);
  }

  .ERPNext_feature {
    background-color: var(--background-color-25);
  }

  .erpfeatures {
    div div {
      >p {
        margin-left: 24pt;
        line-height: 1.2;
      }

      ul {
        color: var(--color-25);
      }

      li {
        >p {
          font-size: 16pt;
          font-weight: bold;
          color: var(--color-25);
          display: inline-block;

          &::after {
            content: "";
            display: block;
            width: 50%;
            height: 3px;
            background-color: var(--color-25);
          }
        }
      }

      &:nth-child(2) ul {
        color: var(--color-1);

        li {
          >p {
            color: var(--color-1);

            &::after {
              background-color: var(--color-1);
            }
          }
        }
      }

      &:nth-child(5) ul,
      &:nth-child(8) ul {
        color: var(--color-1);

        li {
          >p {
            color: var(--color-1);
          }
        }
      }

      &:nth-child(5) li,
      &:nth-child(8) li {
        >p {
          &::after {
            background-color: var(--color-1);
          }
        }
      }
    }
  }

  .ERPNext_module {
    .erpModule {
      border-radius: 5px;
      box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
      margin: 15pt 15pt;
      padding: 10pt;
      height: 150px;

      p.erp-head {
        font-size: 16pt;
        color: var(--color-25);
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
        line-height: 1.1;
      }

      p {
        line-height: 1.2;
      }
    }
  }

  .erpnext_scroll {
    height: 400px;
    overflow: overlay;
  }

  .ERPNext_implementation {
    background-color: var(--background-color-25);

    .erpImplement {
      font-weight: bold;
      border-left: 8px solid #15456e;
      padding-left: 20pt;
      padding-top: 5pt;
      padding-bottom: 5pt;

      span.orange {
        color: var(--color-1) !important;
      }
    }

    .erp-head {
      color: var(--color-19);
      line-height: 1.5;
      font-weight: bold;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .implement-head {
      color: var(--color-19);
      line-height: 1.5;
      font-weight: bold;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;

      span {
        display: inline-block;
        margin-right: 5pt;

        img {
          height: 18px;
          width: 18px;
        }
      }

