// Variables
$healthcare-bg-img: '/website_kanak/static/src/img/frappe_healthcare/Frappe-bg.webp';
$color-1: $color_1; // Defined elsewhere
$color-3: $color_3; // Defined elsewhere
$background-color-4: $background-color_4; // Defined elsewhere

.kanak_frappe_healthcare {
  // Frappe Health Banner
  .frappe-health-banner {
    background-image: url($healthcare-bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .bg-img {
      height: 400px;
    }
  }

  // Spoiler
  .spoiler {
    a {
      color: $color_16;
      font-size: 12pt;
      padding: 5px 0px;
      cursor: pointer;
    }
  }

  // Headings
  h1,
  h2 {
    .orange {
      color: $color_1;
    }
  }

  // Frappe Health Feature
  .frappe-health-feature {
    background-color: $background-color_4;

    hr {
      margin: 10pt auto;
      width: 10%;
      padding: 0;
      border-top: 4px solid #15456E;
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  // Horizontal rules
  hr {
    border-top: 1px solid #bebebe;
  }

  // Frappe Healthcare Slide
  .frappe-healthcare-slide {
    display: block;

    .owl-carousel {
      height: 270px;

      .owl-dots {
        display: none;
      }

      .owl-nav {
        position: relative;
        bottom: 0;
        margin-top: 50px;

        .owl-next {
          position: absolute;
          top: unset;
          bottom: 0%;
          left: 8%;
          right: 0;
          margin: auto;
          height: 50px;
          width: 50px;
          border-radius: 50px;
          border: 1px solid #4C466A;
          background-color: $color_3;
          background-image: url(/website_kanak/static/src/img/frappe_healthcare/right.svg);
          background-repeat: no-repeat;
          background-size: 40%;
          background-position: center;
          &:after {
            content: 'Next';
            display: block;
            font-size: 12px;
            text-align: center;
            line-height: 50px;
          }
        }

        .owl-prev {
          position: absolute;
          top: unset;
          bottom: 0%;
          left: 0;
          right: 8%;
          margin: auto;
          height: 50px;
          width: 50px;
          border-radius: 50px;
          border: 1px solid #4C466A;
          background-color: $color_3;
          background-image: url(/website_kanak/static/src/img/frappe_healthcare/left.svg);
          background-repeat: no-repeat;
          background-size: 40%;
          background-position: center;
          &:after {
            content: 'Previous';
            display: block;
            font-size: 12px;
            text-align: center;
            line-height: 50px;
          }
        }
      }
    }
  }

  // Healthcare Main
  .healthcare-main {
    padding: 10pt;

    .healthcare-main-head {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 500;
      line-height: 1.1;
    }

    img {
      height: 50px;
      width: 50px;
    }
  }

  // Slide Shape
  .slide-shape {
    position: relative;
    overflow: hidden;
    height: 20px;
    margin-top: 5pt;

    &::before {
      border-radius: 100%;
      position: absolute;
      background: #EFF4FB;
      right: 200px;
      left: 200px;
      top: -400px;
      content: '';
      bottom: 0;
    }
  }

  // Shape
  .shape {
    position: relative;
    overflow: hidden;
    height: 40px;

    &::before {
      border-radius: 100%;
      position: absolute;
      background: $color_3;
      right: -400px;
      left: -400px;
      top: -300px;
      content: '';
      bottom: 0;
    }
  }

  // Benefit Frappe Desk
  .benefit-frappe-desk {
    display: block;
  }

  // Benefit Frappe Mob
  .benefit-frappe-mob {
    display: none;
  }

  // Frappe Healthcare Slide Mob
  .frappe-healthcare-slide-mob {
