/* Global variables */
$background-color_17: #color;
$background-color_18: #color;
$background-color_20: #color;
$color_2: #color;
$color_3: #color;

.kanak_ios_developer {

    /* Workpage home work */
    .workpage-home-work {
        .fa-chevron-right {
            font-size: 12px;
        }
        background-color: $background-color_18;
        padding-top: 8px;
        padding-bottom: 8px;
        opacity: .5;
    }

    /* Main banner */
    #main-odoo-ios-banner {
        background: url(/website_kanak/static/src/img/ios/imgpsh_fullsize_2.webp);
        height: 500px !important;
        background-size: 100% 100%;
        position: relative;

        .overlay {
            top: 0;
            bottom: -1px;
            left: 0;
            right: -1px;
            -webkit-transform: scale(1);
        }
    }

    /* Parallax section */
    .parallex-ios-1 {
        position: relative;
        min-height: 780px;
        background: 50% 50%/cover;

        &>.overlay-ab {
            top: 0;
            bottom: -1px;
            left: 0;
            right: -1px;
            -webkit-transform: scale(1);
        }
    }

    /* Different odoo erp heading */
    .different-odoo-erp-heading1111-1 {
        padding-top: 30px;
        color: #00deff;
    }

    .different-odoo-erp-head1 {
        font-size: 16px;
        color: #00deff !important;
    }

    .different-odoo-erp-head111 {
        font-weight: bolder;
        font-size: 16px;
        color: $color_2;
    }

    /* IOS all p */
    .ios-all-p {
        color: $color_3;
    }

    /* Training block23 */
    .training-block23 {
        color: #003662;
        font-size: 17px;
        text-align: center;
    }

    /* Media queries */
    @media (max-width: 768px) {
        /* ... */
    }

    @media (max-width: 400px) {
        /* ... */
    }

    @media only screen and (max-width: 425px) {
        /* ... */
    }
}
