/* Main styles */
main {
    a.btn {
        color: var(--color-3) !important;
    }

    a {
        color: #0d6efd !important;
    }
}

.workpage-home-work {
    .fa-chevron-right {
        font-size: 12px;
    }

    background-color: var(--background-color-18);
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: .5;
}

#netsuite_support_basic {
    h2 {
        color: var(--color-2);
    }

    div {
        ul {
            padding-top: 10pt;

            li {
                list-style-type: none;
                background-image: url(/website_kanak/static/src/img/netsuite_support/point_icon.svg);
                background-repeat: no-repeat;
                margin-left: -40px;
                padding-left: 40px;
                background-size: 12px;
                margin-top: 0px;
                margin-bottom: 8px;
            }
        }
    }

    .netsuite_support_head {
        font-weight: 500;
        color: var(--color-2);
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

#functional_support {
    .function-head {
        font-weight: 900;
        color: var(--color-2);
        font-size: 28px;
        margin-bottom: 15px;
        margin-top: 20px;
    }
}

#key_feature {
    h2 {
        color: var(--color-2);
    }

    .function-head {
        font-weight: 900;
        color: var(--color-2);
        font-size: 28px;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    div {
        .key_list {
            ul {
                margin-left: -30px;
            }
        }
    }
}

#hire_expert {
    .function-head {
        font-weight: 900;
        color: var(--color-2);
        font-size: 28px;
        margin-bottom: 15px;
        margin-top: 20px;
    }
}

#support_services {
    margin: 40pt 0 0 0;

    .support_services_head {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    div {
        &.service-item {
            padding: 20pt;

            h3 {
                padding-top: 0pt;
                padding-left: 20pt;
                text-transform: uppercase;
                font-size:28px;
                font-weight: 900;
                color: #003362;
            }

            hr {
                width: 30%;
                border: none;
                border-bottom: 4px solid var(--color-3);
            }

            &:hover {
                background-color: var(--background-color-23);
                box-shadow: 3px 3px 10px;

                div {
                    box-shadow: 0px 0px 0px 0px;
                }

                * {
                    color: var(--color-3);
                }
            }

            div {
                background-repeat: no-repeat;
                background-size: 50px;
                height: 60px;
                width: 60px;
                display: inline-block;
            }

            #next_generation {
                div {
                    background-image: url(/website_kanak/static/src/img/netsuite_support/Icon_color/Next_generation_Solutions.svg);
                }

                &:hover {
                    div {
                        background-image: url(/website_kanak/static/src/img/netsuite_support/Icon_white/Next_generation_Solutions.svg);
                        background-color: var(--background-color-23);
                    }
                }
            }

            #lucidity {
                div {
                    background-image: url(/website_kanak/static/src/img/netsuite_support/Icon_color/Lucidity.svg);
                }

                &:hover {
                    div {
                        background-image: url(/website_kanak/static/src/img/netsuite_support/Icon_white/Lucidity.svg);
                        background-color: var(--background-color-23);
                    }
              
