.kanak-netsuite-page {

  .carousel-indicators li {
    visibility: hidden;
  }

  .netsuite-carousel-text {
    font-size: 15px;
    color: $color-2;
  }

  .netsuite-reasons-text {
    font-size: 16px;
    text-align: center;
  }

  .icon {
    width: 3%;
    display: inline-block;
    margin-top: -5px;
    vertical-align: top;
  }

  .netsuite-key-steps-heading {
    font-size: 20px;
    color: #565656;
  }

  .netsuite-questions-text {
    color: $color-2;
    font-size: 19px;
    margin-left: 10px;
  }

  .netsuite-answers-text {
    font-size: 17px;
    font-family: aileron, Roboto, sans-serif;
    text-align: left;
  }

  .carousel {
    position: relative;
  }

  .carousel-inner {
    overflow: hidden;
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .bl-slider {
    padding-left: 8px;
    font-size: 17px;
    border-left: 8px solid #00546e;
    margin-bottom: 0px;
    text-align: justify;
    padding-left: 8px;
    font-size: 17px;
    border-left: 8px solid #00546e;
    margin-bottom: 0px;
    text-align: justify;
  }

  .faq_button {
    display: inline-flex;
    align-items: center;
    height: 30px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    border: none;
    background: none;
    cursor: pointer;

    img {
      height: 30px;
      width: auto;
      margin-right: 10px;
    }
  }

  .key_setup {
    img {
      height:18px;
      margin-right:10px;
      margin-top: 7px;
    }
  }

  .border-red {
    border-top: 4px solid red;
  }

  .faq-main-head {
    color: $color-2;
    font-size: 28px !important;
    margin-bottom: 15px;
    margin-top: 0;
    line-height: 1.1;
  }

  .faq_border {
    border: 1px solid #cec7c7;
    padding: 20pt;
  }

  .fw700 {
    font-weight: 700;
  }

  @media screen and (max-width: 768px) {
    .faq_button {
      width: auto;
    }

    .specific_reasons {
      padding: 12px;
      margin-bottom: -25px;
    }

    .erp_box {
      width: auto;
      height: auto;
      margin-bottom: 25px;
    }

    .remove_margin_erp_box {
      margin-bottom: 25px;
    }
  }
}
