// Main Service Ecommerce
.main-service-ecommerce {
  padding: 200px 0;
  background-size: cover;
  position: relative;
  background-position: center;

  .overlay {
    position: absolute;
    opacity: .9;
    transform: scale(1);
    background-color: rgba(2, 42, 70, .79);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .main-service-ecommerce-banner {
    text-align: center;

    .kanak-main-service-ecommerce-bnr1,
    .kanak-main-service-ecommerce-bnr2 {
      color: #fff;
      font-size: 64px;
      font-weight: 700;
      border-bottom: 1px solid #fff;
    }
  }

  // Media queries for smaller screens
  @media (max-width:768px) {
    padding: 85px 0;

    .main-service-ecommerce-banner {
      .kanak-main-service-ecommerce-bnr1,
      .kanak-main-service-ecommerce-bnr2 {
        font-size: 35px !important;
      }
    }
  }

  @media (max-width:400px) {
    padding: 60px 0;

    .main-service-ecommerce-banner {
      .kanak-main-service-ecommerce-bnr1,
      .kanak-main-service-ecommerce-bnr2 {
        font-size: 25px !important;
      }
    }
  }
}

// Service Home Work
.service-home-work {
    background-color: #d3d3d3;
    padding: 8px 0;
    opacity: 0.5;

    .fa {
        font-size: 12px;
        color: gray;
        padding: 0 3px;
    }

    .all-home-colour .text-muted {
        color: gray !important;
        text-decoration: none;
    }

    .all-work-colour {
        color: #000;
    }
}

// Service Text Odoo Dev
#service-text-odoo-deve {
  .for-spacing-all {
    letter-spacing: 0.5px;

    h1, h2 {
      font-weight: 900;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    p {
      color: #565656;
    }

    .fa {
      color: #003362;
    }

    .for-deve-middletext2 {
      color: #7b7b7b;
    }

    .my-all-php-deve {
      padding: 0;
      text-align: left;

      li {
        font-weight: bold;
        color: #003362;
        letter-spacing: 0.5px;
        font-size: 15px;
      }
    }
  }
}

// Parallex Home Odoo Service Ecommerce
#parallex-home-odoo-service-ecommerce {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-position: center;
  padding-top: 35px;

  .overlay-ab {
    background-color: rgba(42, 77, 105, .8);
    position: absolute;
    opacity: .9;
    transform: scale(1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .magento-block2 {
    color: #00deff;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 16px;
  }

  .magento-block-all-li {
    li {
      padding-bottom: 8px;
      color: #fff;
      line-height: 170%;
      letter-spacing: 1px;
    }

    p {
      color: #fff;
    }
  }

  .fa-blue {
    color: #00deff;
  }
}

// Service Benifit Business
.service-benifit-business {
  padding: 30px 0;

  .for-spacing-all {
    letter-spacing: 0.5px;

    h2 {
      margin-bottom: 16px;
      color: #003362;
    }

    .bi-data-list3 {
      .fa {
        color: #00deff;
      }

      .heading-joomla-inner {
        color: #003362;
        font-weight: 700;
      }
    }
  }
}

// Custom Features
.custom_features {
  padding: 30px 0;

  .joomla-class-a1 {
    color: #003362;
    font-weight: 900;
    margin-bottom: 20px;
  }

  .list-features {
    .feature {
      padding: 15px 0;
      color: #003362;
      font-size: 18px;

      .icon-circled {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all
