@font-face {
  font-family: 'Aileron';
  src: url('/website_kanak/static/src/fonts/Aileron/Aileron-UltraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/website_kanak/static/src/fonts/Aileron/Aileron-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/website_kanak/static/src/fonts/Aileron/Aileron-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/website_kanak/static/src/fonts/Aileron/Aileron-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/website_kanak/static/src/fonts/Aileron/Aileron-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/website_kanak/static/src/fonts/Aileron/Aileron-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

$o-color-palettes: (
  'base-1': (
    'o-color-1': #003362,
    'o-color-2': #5e5e5d,
    'o-color-3': #ceccc8,
    'o-color-4': #FFFFFF,
    'o-color-5': #212529,
  )
);

$colors: (
  'red': #db4437,
  'blue': #003362,
  'white': #fff,
  'cyan': #01a2a6,
  'pink': #fcaebb,
  'lightred': #f36371,
  'lightblue': #8C82BE,
  'black': #000,
  'darkblue': #05416b,
  'gray': #565656,
  'darkred': #f44152,
  'lightgray': #878787,
  'lightsky': #c2d6dc,
  'lightblue-2': #367a9dad,
  'purple': #8d4f80,
  'green': #9ccb2d,
  'yellow': #eec44c,
  'darkcyan': #336e7b,
  'lightblue-3': #4B88D2,
  'lightcyan': #92C7F7,
  'lightgreen': #d9e3c0,
  'lightyellow': #f0ebb4,
  'lightpink': #faebd7,
);

$background-colors: (
  'lightgray-2': #f6f6f6,
  'lightsky-2': #eeffff,
  'lightpink-2': #fff5f7,
  'lightpink-3': #fff6f7,
  'transparent': transparent,
  'blue-2': #022a46c9,
  'lightgray-3': #d3d3d3,
  'lightgray-4': #efe9e9,
  'blue-3': #2a4d69cc,
  'white-2': #ffffff,
  'yellow-2': #ffa53a,
  'skyblue': #0c9ee7,
  'skyblue-2': #4b88d217,
  'lightcyan-2': #92C7F7,
);

$border-colors: (
  'blue-4': #00deff,
  'cyan-2': #01a2a6,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 8,
);
