// Variables
$color-1: #fff;
$color-2: gray;
$color-3: #000;
$color-4: #003362;
$color-5: #565656;
$color-6: #00deff;
$color-7: #dc8b57b0;
$color-8: silver;
$color-9: #e0c028;
$font-family-1: Roboto, sans-serif;
$font-family-2: aileron, Roboto, sans-serif;
$background-color-1: rgba(2, 42, 70, .79);
$background-color-2: #d3d3d
